/* Footer.css */

/* Rodapé */
footer {
    background-color: #28a745;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
  }
  
  .footer-content {
    background-color: transparent;
    padding: 10px 0;
    margin: 0;
    width: 100%;
    border-radius: 0;
  }